.start__section {
    display: inline-block;
    width: 40%;
    width: -moz-calc(50% - 5em);
    width: -webkit-calc(50% - 5em);
    width: calc(50% - 5em);
}
.start__button {
    margin: 0.5em;
    width: 10em;
    text-align: center;
}
.start__button__icon {
    height: 3em;
}


/* For morden browsers */
/* Wide Screen */ 
.start__container, .start__button-area {
    display: -ms-flexbox;
    display: -moz-box; 
    display: box;
    display: -webkit-box;
    display: -webkit-flex; 
    display: flex;
    
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -ms-justify-content: center;
    -o-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;

    -ms-align-items: stretch;
    -o-align-items: stretch;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
}


/* Narrow Screen */
@media all and (max-width: 500pt){
    .start__container {
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;;
    }
    .start__section {
        width: unset;
    }
}